<!-- Main CSS -->
body {
   color: #333;
   background-color: #fff;
   font-family: Arial, Helvetica, sans-serif;
}

nav {
   color: #fff;
   background-color: #450084;
   font-family: Arial, Helvetica, sans-serif;
   z-index: 100;
}

h1 {
   color: #450084;
   font-family: Arvo, Georgia, serif;
}

footer {
   color: #333;
   background-color: #f7f2e5;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 0.75em;
   min-height: 200px;
}

a {
   color: inherit;
}

a:hover {
   color: #450084;
   text-decoration: none;
}

nav h3 {
   color: #fff;
   font-family: Arvo, Georgia, serif;
}

nav .dropdown-menu {
   background-color: #dfd2aa;
}

nav .btn:hover, nav h3:hover {
   background-color: #dfd2aa;
   color: #450084;
   transition-duration: 0.5s;
}

#background_img {
   background-image: url('../img/math_chalk_board.jpg');
   background-color: brown;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   height: 270px;
   z-index: 1;
}

footer em, footer h5 {
   color: #450084;
}

@media (min-height: 300px) {
   nav {
      position: sticky;
      top: 0;
   }
}